# This file is to unify code style for different editors and IDEs
# website: https://editorconfig.org
#
# note: Remember to update .gitattributes for new changes

root=true

[*]
charset=utf-8
# end_of_line=lf # text=auto in .gitattributes
indent_style=tab
insert_final_newline=true

[*.xml]
end_of_line=crlf
indent_style=space
indent_size=4

[{*.bat,*.cmd,*.ps1,*.ini}]
end_of_line=crlf
